@model IEnumerable<WebApplication1.Models.Movie>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("新規追加", "Create")

    <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#acd-01">検索パネル</a>

    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
        <div class="collapse" id="acd-01">
            <div class="well">

                <div>
                    タイトル：@Html.TextBox("SearchString")
                    ジャンル：@Html.DropDownList("movieGenre", "All")
                    監督：@Html.DropDownList("movieDirector", "All")
                    <input type="submit" value="検索" />
                </div>

            </div>
        </div>
    }
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.ID }) |
            @Html.ActionLink("詳細", "Details", new { id=item.ID }) |
            @Html.ActionLink("削除", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
